@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

:root {
    --cor-fundo-header: #040E20;
    --cor-gradiente-header: linear-gradient(90deg, #040E20 0%, rgba(241,113,8,1) 100%);
    --cor-fundo-hisoka: linear-gradient(180deg, rgba(31,40,58,1) 0%, black 100%);
    --cor-cartao-hover: linear-gradient(to left, rgb(241, 113, 8), rgb(233, 32, 6));
    --cor-fundo-rodape: rgb(43, 43, 43);
    --cor-borda-rodape: rgb(77, 77, 77);
    --cor-borda-foco: rgb(255, 120, 57);
    --cor-botao-rodape: rgb(241, 74, 8);
    --cor-botao-hover: rgb(252, 99, 39);
}

h2 {
    font-family: 'Ysabeau SC', sans-serif;
}

p, a , label{
    font-family: 'Wix Madefor Text', sans-serif;
}

/* -------------- HEADER -------------- */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 5px 5px 5px;
    background-color: var(--cor-fundo-header);
    width: 100%;
    min-height: 10vh;
    position: relative;
}

.header:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Adjust the height of the border as needed */
    background-image: var(--cor-gradiente-header);
}


.menu ul{
    display: flex;
    flex-direction: row;
}

.h-div1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    min-width: 315.5px;
    gap: 5px;
}

.h-div1 img {
    padding: 5px;
    /* background-color: white; */
}

.h-div1 h2 {
    font-size: 1.8rem;
    color: white;
}

.h-div2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 50%;
    min-width: 219.17px;
    gap: 0.5rem;
}

.menu ul{
    gap: 0.3rem;
}

.header div img {
    width: 60px;
}

.header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 10px;
    font-weight: bold;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li a:hover {
    color: rgb(241, 113, 8);
}

/* -------------- MAIN -------------- */
.main {
    background-color: #000000;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/wallpaper-konoha.jpeg");
    background-size: cover;
    background-position: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    /* padding: 3rem 0; */
    padding: 0 0 3rem 0;
    
}

#hr-main {
    margin: 0;
    width: 100%;
    height: 2px;
    /* background-image: var(--cor-gradiente-header); */
    background-image: linear-gradient(90deg, rgba(241,113,8,1) 0%, black 100%);
    border: none;
}

#hr-footer {
    margin: 0;
    width: 100%;
    height: 2px;
    /* background-image: var(--cor-gradiente-header); */
    background-image: linear-gradient(90deg, black 0%, rgba(241,113,8,1) 100%);
    border: none;
}



.hisoka {
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/wallpaper-kkx.jpg"); */
    background: linear-gradient(180deg, rgba(31,40,58,1) 0%, black 100%);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* min-height: 300px; */
    padding-top: 40px;
}

.hisoka-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.hisoka-img img {
    width: 550px;
}

.hisoka-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 50%;
}

.hisoka-text h1 {
    font-family: 'Alata', sans-serif;
    font-size: 3rem;
    color: white;
}

.hisoka-text h2 {
    font-family: 'Alata', sans-serif;
    font-size: 7.2rem;
    background-image: linear-gradient(45deg, rgb(221, 58, 8), rgb(241, 159, 8));
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    margin-top: -50px;
    margin-bottom: -20px;
}

.hisoka-text button {
    background-color: white;
    color: rgb(241, 113, 8);
    border: none;
    border-radius: 4px;
    padding: 10px 30px;
    font-size: 1.55rem;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
}

.hisoka-text button:hover {
    transform: scale(1.05);
    background-color: rgb(194, 194, 194);
}

.hunter h2 {
    font-family: 'Alata', sans-serif;
    font-size: 2rem;
    color:white;
    padding: 25px 0 5px 0;
    text-align: center;
}

.hunter p {
    font-family: 'Alata', sans-serif;
    color: white;
    font-size: 1rem;
    padding-bottom: 20px;
    text-align: center;
}

.main h3 {
    font-family: 'Alata', sans-serif;
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
}

.container-hunters {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-img {
    background-position: center;
    background-size: cover;
    /* width: auto; */
    width: 150px;
    height: 150px;
    max-height: 200px;
    border-radius: 50%;
    border: 3px solid white;
}

.card {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    width: 250px;
    height: 380px;
    max-width: 400px;
    padding: 0.8rem;
    max-height: 400px;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
    /* transition: height 0.5s, width 0.5s; */

    background-color: rgb(255, 255, 255);
}

/* .card.closed {
    height: 0;
  width: 0;
  padding: 0;
  overflow: hidden;
} */

.card:hover {
    box-shadow: -1px 5px 13px 0px rgba(0, 0, 0, 0.75);
    transform: scale(1.05);
    /* background-color: rgb(241, 113, 8); */
    background: linear-gradient(to left, rgb(241, 113, 8), rgb(233, 32, 6));

    .card-title{
        color: white;
    }
    .card-rank{
        color: white;
    }
    .card-botao{
        background-color: white;
        color: rgb(241, 113, 8);
    }
    .card-botao:hover{
        background-color: rgb(196, 196, 196);
    }
}

.card-title {
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}

.card-button{
    width: 100%;
    text-align: right; 
}

.card-button button{
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 0 5.34px;
    text-align: center;

}

.card-button button:hover{
    background-color: rgb(243, 60, 27);
    color: white;
}

.card-info{
    text-align: center;
}

.card-profession {
    font-family: 'Wix Madefor Text', sans-serif;
    font-size: 1rem;
    color: #333;
    white-space: pre-line;
}

.card-botao{
    background-color: rgb(241, 93, 8);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 45px 5px 45px;
}

/* .card-botao:hover{
    background-color: rgb(250, 44, 44);
} */

/* -------------- FOOTER -------------- */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-fundo-header);
}

.footer1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    width: 100%;
    gap: 20px;
}

.div1 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    width: 40%;
    min-width: 304px;
    gap: 10px;
}

.div1 p {
    font-size: 0.8rem;
    color: grey;
}

.div2 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: end;
    gap: 40px;
    min-width: 304px;
}

.div2 h2 {
    color: white;
}

.div2-1, .div2-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.div2-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 370px;
}

.links {
    display: flex;
    flex-direction: column;
}

.links ul {
    list-style-type: none;
}

.links a {
    text-decoration: none;
    color: rgb(136, 136, 136);
    font-size: 0.8rem;
}

.links a:hover {
    color: white;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.input input {
    padding: 5px 10px 5px 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: none;
    outline: none;
}

.input input:focus {
    border: 2px solid rgb(255, 120, 57) !important;
}

.input input::placeholder {
    color: grey;
    font-style: italic;
    font-size: 0.8rem;
    padding-left: 8px;
}

.input button {
    padding: 7.6px 14px 7.6px 10px;
    background-color: rgb(241, 74, 8);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
    height: 33px;
    width: 100%;
}

.input button:hover {
    background-color: rgb(252, 99, 39);
}

.div2-3 p {
    font-size: 0.8rem;
    color: grey;
}

.footer div img {
    width: 200px;
}

hr {
    margin: 15px 0 15px 0;
    width: 98%;
    border-color: rgb(77, 77, 77);
}

.footer2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer2 a img {
    width: 40px;
    padding-bottom: 15px;
}

#mensagemParaUsuario {
    color: red;
}

#erroNome, #erroRank {
    color: red;
}

@media (max-width: 500px), (min-width: 500px) and (max-width: 820px) {
    * {
        font-size: 14px;
    }

    .hisoka {
        padding-bottom: 3rem;
    }

    .hisoka-text {
        text-align: center;
    }

    .hisoka-text button {
        margin-top: 3rem;
    }

    .hunter {
        padding: 0 15px;
    }

    .hisoka-img {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    h2 {
        font-size: 2rem;
    }

    .header {
        padding: 2rem;
        align-items: center;
        justify-content: space-between;
    }

    .menu ul {
        flex-direction: column;
    }

    .h-div1 {
        align-items: center;
        justify-content: start;
        min-width: 0;
    }

    .h-div1 h2 {
        font-size: 100%;
    }

    .header div img {
        width: 125px;
    }

    .h-div2 {
        align-items: end;
        justify-content: end;
        flex-direction: column;
        text-align: end;
        width: fit-content;
        min-width: fit-content;
    }

    .footer1 {
        flex-direction: column;
    }

    .div1,
    .div2,
    .div2-1,
    .div2-2,
    .div2-3 {
        text-align: center;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .input {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 80%;
    }

    .input input {
        width: 60%;
        height: 100%;
    }

    .input button{
        width: 40%;
        height: 100%;
    }

    .menu {
        display: none;
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
        transform-origin: top;
        transform: scaleY(0);

    }

    .menu.active {
        display: block;
        opacity: 1;
        transform: scaleY(1);
        
      }
      
    .menu-toggler {
        display: flex;
        cursor: pointer;
        flex-direction: column;
        gap: 10px;
        padding: 8px 11px 8px 11px;
        border-radius: 5px;
    }

      
    .hamburguer {
        
        width: 40px;
        height: 3px;
        background-color: white;
    }

    .hamburguer  img{
        width: auto;
    }
}

@media (max-width: 500px) {

    *{
        font-size: 12px;
    }

    .h-div1 h2 {
        height: 0;
        width: 0;
        visibility: hidden;
    }

    .hisoka {
        padding-bottom: 3rem;
    }

    .hisoka-text {
        height: fit-content;
        text-align: center;
        width: 270px;
        height: auto;
    }

    .hisoka-text div {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        flex-direction: column;
    }
    
    .hisoka-text h2 {
        font-size: 4.3rem;
        margin: 0;
        font-weight: bold;
    }
    
    .hisoka-text h1 {
        font-size: 2.5rem;
        margin: 0;
    }

    .hisoka-text button {
        margin-top: 3rem;
        width: 270px;
    }

    .hunter {
        padding: 0 15px;
    }

    .hisoka-img {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    h2 {
        font-size: 2rem;
    }

    .header {
        padding: 2rem;
        align-items: center;
        justify-content: space-between;
    }

    .menu ul {
        flex-direction: column;
    }

    .h-div1 {
        align-items: center;
        justify-content: start;
        min-width: 0;
    }

    .h-div1 h2 {
        font-size: 100%;
    }

    .header div img {
        width: 125px;
    }

    .h-div2 {
        align-items: end;
        justify-content: end;
        flex-direction: column;
        text-align: end;
        width: fit-content;
        min-width: fit-content;
    }

    .footer1 {
        flex-direction: column;
    }

    .div1,
    .div2,
    .div2-1,
    .div2-2,
    .div2-3 {
        text-align: center;
        width: 100%;
    }

    .input {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .input input {
        width: 8rem;
    }

    .menu {
        display: none;
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
        transform-origin: top;
        transform: scaleY(0);

    }

    .menu.active {
        display: block;
        opacity: 1;
        transform: scaleY(1);
        
      }
      
    .menu-toggler {
        display: flex;
        cursor: pointer;
        flex-direction: column;
        gap: 10px;
        padding: 8px 11px 8px 11px;
        border-radius: 5px;
    }

      
    .hamburguer {
        
        width: 40px;
        height: 3px;
        background-color: white;
    }

    .hamburguer  img{
        width: auto;
    }
}

@media (min-width: 820px) and (max-width: 992px) {
    * {
        font-size: 16px;
    }

    h2 {
        font-size: 2rem;
    }

    .footer1 {
        align-items: start;
    }

    .div1 {
        gap: 20px;
    }

    .div2 {
        flex-direction: column;
    }

    

    .div2-1{
        text-align: center;
        width: 100%;
    }

    .div2-2{
        text-align: center;
        width: 100%;
    }

    .div2-3 h2{
        text-align: center;
    }
}
